**venv
*.pyc
*.swp
bin/
db/
dbd/
iocBoot/iocpowerMeter/envPaths
powerMeterApp/Db/O.linux-x86_64/
powerMeterApp/src/O.Common/
powerMeterApp/src/O.linux-x86_64/
vendor/NILinux2020DeviceDrivers/
visa-pkg
