[Unit]
Description=Sirius RF U2021XA Power Meter 1 - Visa Interface
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
RestartSec=10
Type=simple

WorkingDirectory=/opt/cas-rf-u2021xa/U2021XAVisaInterface
ExecStart=/opt/cas-rf-u2021xa/U2021XAVisaInterface/run.py\
    --resource 'USB0::2391::32536::MY57370012::0::INSTR'\
    --unix-socket-path 'socket-1'

StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
