[Unit]
Description=Sirius RF U2021XA Power Meter - Visa Interface
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
RestartSec=10
Type=simple

WorkingDirectory=/opt/cas-rf-u2021xa/scripts
ExecStart=/bin/bash -c "\
     set -x;\
     set -e;\
     source /opt/miniconda3/etc/profile.d/conda.sh;\
     conda activate base;\
     python /opt/cas-rf-u2021xa/scripts/run.py\
         --resource 'USB0::0x2A8D::0x7F18::MY57370012::INSTR'\
"

StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
